:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-gray: #212121;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.parallax {
    /* The image used */
    background-image: url("../img/Parallax1.jpg");

    /* Full height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}

.btn {
    text-transform: capitalize;
}

.font-weight-bold {
    font-weight: 700;
}

table td {
    padding-right: 0;
    padding-left: 0;
}

.table td,
.table th {
    vertical-align: middle;
}

table td:first-child {
    padding-right: 1rem;
}

.mdi {
    font-size: 20px;
}

.input-group > .form-control {
    padding-right: 10px;
}

.dropdown-toggle:after {
    margin-left: 0;
    margin-right: 0;
}

.dropdown-menu {
    font-size: inherit;
    width: max-content;
}

/* ******* nested dropdown *********** */

.dropdown-menu > .dropdown {
    position: relative;
}

.dropdown-menu > .dropdown a::after {
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    top: 1.1rem;
}

.dropdown-menu > .dropdown .dropdown-menu {
    top: 0;
    right: 100%;
}

/* ************ end nested dropdown********************* */

.alert-dismissible {
    padding-right: 1rem;
}

.alert-dismissible .close {
    right: auto;
    left: 0;
}

/*.table tbody td, .table tbody th{*/
/*padding-bottom: inherit;*/
/*}*/

@media screen and (min-width: 992px) {
    .w-50-lg {
        width: 50% !important;
    }
}

/*************** header **************/

#banner {
    padding-right: 20px;
}

#banner .d-flex .d-none img {
    height: 100px;
}

.search {
    margin-right: 1rem;
    padding-top: 4px;
}

.search .form-control {
    min-width: 13rem;
}

.login {
    text-align: center;
}

#logout button {
    cursor: pointer;
    outline: none;
}

.has-search {
    position: relative;
}

.fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    outline: 0;
    top: 0;
    left: 1%;

    z-index: 2;
}

.search .navbar {
    background-color: #ffe082;
}

.bg-primary {
    background-color: #1e88e5 !important;
}

.navbar-nav {
    text-align: right;
}

.nav-link.dropdown-toggle {
    padding-left: 0;
}

.navbar-nav {
    padding-right: 0;
}

.navbar-nav .nav-link {
    font-size: inherit;
    padding: 10px 7px;
}

li.nav-item:first-child {
    margin-right: 0;
}

li.nav-item:last-child {
    margin-left: 0;
}

li.nav-item {
    margin: 0 5px;
}

.admin-nav ul {
    width: 100% !important;
}

@media screen and (max-width: 992px) {
    .admin-nav ul {
        width: 95% !important;
    }
}

@media screen and (max-width: 767px) {
    li.nav-item {
        margin: 0;
    }

    .admin-nav ul {
        width: 89% !important;
    }
}

/*************** end header **************/
/*************** slider **************/

/* slide-box */
.slide-box {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    direction: ltr;
    font-family: "slick", "sans-serif";
}

/* slide */
.slide {
    position: relative;
    width: 65%;
    margin: 0;
    padding: 0;
}

.slide .item {
    position: relative;
    height: 100%;
}

.slide .item h5 {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    text-align: right;
    color: white;
    margin: 0;
    font-family: IRANYekanDigits;
}

.slide .item a {
    display: block;
}

.slide .item::before {
    display: block;
    padding-top: 39%;
    content: "";
}

.slide .item .image {
    position: relative;
    overflow: hidden;
}

.slide .item img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.slide > .slick-list,
.slide > .slick-list > .slick-track,
.slide > .slick-list > .slick-track > .slick-slide > div {
    position: relative;
    height: 100%;
}

/* slide-navigation */
.slide-navigation {
    line-height: 0;
    position: relative;
    width: 35%;
    margin: 0;
    padding: 0;
}

.slide-navigation .item {
    position: relative;
    cursor: pointer;
}

.slide-navigation .item .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slide-navigation .item .image::before {
    display: block;
    padding-top: 25%;
    content: "";
}

.slide-navigation .item .image::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background: #000;
}

.slide-navigation .slick-current .image::after {
    opacity: 0;
}

.slide-navigation .item .image {
    position: relative;
    overflow: hidden;
}

.slide-navigation .item .image img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

/* slick */
.slick-vertical .slick-slide {
    border: 0 solid transparent;
}

.slick-arrow {
    z-index: 999;
}

.slick-prev {
    top: 50%;
    bottom: auto;
    left: 25px;
    right: auto;
    margin: auto;
}

.slick-prev:before {
    content: "←";
    font-size: 50px;
}

.slick-next {
    top: 50%;
    bottom: auto;
    left: auto;
    right: 70px;
    margin: auto;
}

.slick-next:before {
    content: "→";
    font-size: 50px;
}

@media screen and (max-width: 767px) {
    .slide {
        width: 100%;
    }

    .slide-navigation {
        width: 100%;
    }

    .slide-navigation .item .image::before {
        padding-top: 50%;
    }

    .slick-prev {
        top: 20px;
        bottom: 0;
        right: auto;
        left: 20px;
    }

    .slick-prev:before {
        font-size: 40px;
    }

    .slick-next {
        top: 20px;
        bottom: 0;
        right: 65px;
        left: auto;
    }

    .slick-next:before {
        font-size: 40px;
    }

    .slick-slide h3 {
        font-size: 1rem;
    }
}

/*************** end slider **************/

/***************  tools **************/

.col-md-2 .card {
    /*margin-right: 30px;*/
}

.parallax.tools .col-md-9 .card {
    min-height: 120px;
    margin-bottom: 40px;
    transition: 0.5s;
    border-radius: 10px;
}

.parallax.tools .col-md-3 .card {
    min-height: 80px;
    margin-bottom: 20px;
    transition: 0.5s;
    border-radius: 10px;
}

.card .card-title {
    font-size: 1.25rem;
}

.tools .mdi {
    font-size: 25px;
}

.parallax.tools a {
    text-decoration: none;
    color: #212121;
}

.parallax.tools a:hover {
    color: #0d47a1;
}

.parallax.tools .card:hover {
    background-color: #90caf9;
    transition: 0.5s;
    border-radius: 2px;
}

@media screen and (max-width: 767px) {
    .card {
        min-height: 100px;
        margin-bottom: 10px;
    }

    .parallax {
        padding: 15px;
    }

    .parallax.tools .col-md-9 .card {
        margin-bottom: 15px;
    }

    .parallax.tools .col-6:nth-child(odd) {
        padding-left: 7.5px;
    }

    .parallax.tools .col-6:nth-child(even) {
        padding-right: 7.5px;
    }
}

@media (min-width: 768px) {
    /*.parallax .col-md-3{*/
    /*margin-right: 90px!important;*/
    /*}*/
}

/*************** end tools **************/




/***************  comments **************/

.reply{
    text-decoration: none;
}

/*************** end comments **************/



/*************** articles **************/

#articles-index .material-icons {
    font-size: 22px;
}

#articles-index .time,.stats {
    font-size: smaller;
}

#articles-index .card a img{
    object-fit: cover;
}

#articles-index .card .card-header {
    font-size: 1rem;
}

#articles-index ul,#article-show ul{
    padding-right: 0;
}

#articles-index ul a,#article-show ul a {
    text-decoration: none;
    color: #212121;
    font-size: 15px;
}

#articles-index ul a:not(:last-child),#article-show ul a:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#articles-index ul li:hover,#article-show ul li:hover {
    background-color: #eee;
}

.articles a img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.articles .card-title {
    height: 52px;
    overflow: hidden;
}

.articles p {
    height: 78px;
    overflow: hidden;
}

.articles .time {
    font-size: smaller;
}

.articles .material-icons {
    font-size: 22px;
}

.article_comment_body{
    padding: 5px;
    border-radius:10px ;
}

/*************** end articles **************/

/*************** footer **************/

.footer {
    padding: 20px;
    background-color: #1565c0;
    flex-shrink: 0;
}

.footer .col-md-3 h5 {
    color: #bbdefb;
    border-bottom: 5px double #bbdefb;
    text-align: center;
    padding-bottom: 10px;
}

.footer .col-md-3 div {
    padding: 4px;
    color: #ffffff;
    font-size: 15px;
}

.footer table {
    color: white;
    font-size: 15px;
}

.footer table tr {
    margin-bottom: 5px;
}

.footer table td {
    line-height: 1.75;
}

.footer table td {
    display: inline-block;
    margin-right: 5px;
}

.footer .col-md-3 div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    transition: 0.3s;
}

.footer .col-md-3 div a:hover {
    font-weight: bold;
    transition: 0.3s;
}

.copy-right {
    margin: 30px -20px -20px -20px;
    padding: 10px 20px;
    background-color: var(--dark-gray);
    color: white;
}

.copy-right a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.copy-right a:hover {
    transition: 0.3s;
    color: var(--primary);
}

/*************** end footer **************/

/*************** admin **************/

/*************** nav drawer **************/

.navdrawer-nav .nav-link {
    padding: 0.8rem 1rem;
}

.navdrawer-subheader {
    padding: 0.8rem 1rem;
    height: auto;
}

/*************** end nav drawer **************/

/*************** roles **************/

.permission .form-check-inline {
    margin-right: 1.25rem;
}

.permission .form-check-input {
    margin-right: -18px;
}

span.badge.badge-info.px-2.py-1.badge-pill {
    margin-bottom: 10px;
}

.form-check.form-check-inline {
    margin-bottom: 10px;
}

/*************** end roles **************/

/*************** complaint **************/

#attachment-icon {
    font-size: 28px;
    margin-top: 5px;
}

/*************** end admin **************/

/*************** end admin **************/
